<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <title>Log In</title>
  </head>
  <body>
    <h1>Log In</h1>
    <p>This is a login form</p>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Log In</button>
      <button><a href="/signup">Sign Up</a></button>
    </form>
    <% if (typeof message !== 'undefined') { %>
      <p id="error"><%= message %></p>
    <% } %>
  </body>
</html>
